<?xml version="1.0"?>
<launch>

    <!--Load parameters file -->
    <rosparam file = "$(find dashgo_b1)/config/params.yaml" command = "load" /> 

    <!--Load mesh model -->
    <arg name="EAI_sim_model" default="$(find dashgo_b1)/urdf/EAI_robot.urdf"/>
    <param name="robot_description" command="cat $(arg EAI_sim_model)" />

    <!-- Uncomment the Joint state publisher if not using a node to publish joint states. If uncommented, comment any node publishing joint states-->
    <!--<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />-->

    <!--Robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="b1_state_pub" />

    <!--Initialise kinematic model -->
    <node pkg="dashgo_b1" type="nonholo_kinematic_sim.py" name="DashgoB1_Robot" />

    <!--Initialise localisation node -->
    <node pkg="dashgo_b1" type="localisation_V0.py" name="Odometry" output="screen"/>

    <!--Initialise joint pub node -->
    <node pkg="dashgo_b1" type="b1_JointPub.py" name="Joint_Publisher" output="screen" /> 

    <!--Initialise teleoperation node -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="Teleop" output="screen" /> 

    <!--Initialise RVIZ -->
    <arg name="rvizconfig" default="$(find dashgo_b1)/rviz/b1_sim.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> 

</launch>